body{
  font-family: 'Kufam', cursive;
  margin: 0;
}
section{
  padding-bottom: 100px;
}
header{
  padding-right:100px;
}
ul{
  float: right;
  list-style-type: none;
}
ul li{
  display: inline-block;
}
ul li a{
  text-decoration: none;
  padding: 5px 15px;
  color: gray;
  font-weight: 600;
}
h1{
  font-size: 30px;
}
h2{
  font-size: 26px;
}
h4{
  text-align: center;
  font-size: 28px;
}
h5{
  text-align: center;
  color: gray;
  font-weight: bold;
}
.cc{
  color: rgb(223, 16, 102);
}
.img-1{
  width: 100%;
}
.img-2{
  width: 95%;
}
.img-3{
  width: 4%;
  padding: 5px;
}
.half-width{
  width: 40%;
  float: left;
  margin-left: 5%;
  padding-left: 5%;
  
}
#div-height{
  height: 500px;
}
.one-third-width{
  box-shadow: 6px 6px 20px gray;
  border-radius: 10px;
  width: 30%;
  height: 20%;
  float: left;
  margin-left: 3%;
}
.sec2{
  height: 1100px;
}
#tc{
  text-align: center;
  padding: 50px 50px;
}

.link-button{
  text-decoration: none;
  background-image: linear-gradient(45deg, cyan, blue);
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
}
.link-button img{
  width:4%;
}
.sec3div{
  height: 170px;
  width: 70%;
  margin: 10% 20%;
}
#sec3img{
  background: url("Images/p7.png");
  background-size: 650px;
  background-repeat: no-repeat;
}
.sec3indiv{
  display:inline-block;
}
.sec3indiv h1{
  color: white;
}
#sec3indiv1{
 margin-top: 5%;
 padding-left: 7%;
}
#sec3indiv2{
  margin-top: 5%;
  padding-left: 190px;
 }
 #center{
   text-align: center;
 }
 
 
